@model WebApplication_InformationSecurityRiskAssessmentSystem.Models.Threat

@{
    ViewData["Title"] = "Редагування загрози";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-container">
    <h1 class="my-header">@ViewData["Title"]</h1>

    <h4>Загроза</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Зберегти" class="btn btn-lg btn-primary custom-btn btn-2" />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Index" class="btn btn-sm btn-success">Назад до списку загроз</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
