@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Видалення персональних даних";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="my-text">@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Видалення цих даних назавжди видалить ваш обліковий запис, і це неможливо відновити.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Будь ласка, введіть свій пароль." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="w-100 btn btn-lg btn-danger" type="submit">Видалення даних і закриття облікового запису</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
