@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження реєстрації";
}
<div class="my-container">

    <h1 class="my-header">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p class="my-text">
            Ця програма в даний час не має реального відправника електронної пошти зареєстрований, див. <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Натисніть тут, щоб підтвердити свій обліковий запис</a>
</p>
    }
    else
    {
<p class="my-text">
            Будь ласка, перевірте свою електронну пошту, щоб підтвердити свій обліковий запис.
</p>
    }
}

</div>